<div class="card-body text-center">
    <div class="h1 mb-3">
        <i class="bi bi-newspaper"></i>
    </div>
        <h3 class="card-title text-center mb-3">Latest News</h3>
        <p class="card-text text-centert">
            Some Text
        </p>
        <a class="btn btn-dark" href="https://www.amazon.com/" target="_blank">> Read More</a>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Click me
                        <span class="active">▲</span>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body collapse-text">text.</div>
            </div>
        </div>
    </div>

</div>
