<div class="card-body text-center">
    <div class="h1 mb-3">
        <i class="bi bi-award"></i>
    </div>
        <h3 class="card-title text-center mb-3">Job Info</h3>
        <p class="card-text text-center">
            Job Info
        </p>
        <p class="card-text text-center">
        Job Info
        Job Info
        Job Info
        Job Info
        Job Info
        Job Info
        </p>
        <a class="btn btn-primary" asp-area="" asp-page="/PartnerWithUs" asp-route-language="">> Become a Partner</a>
</div>
