<div class="card-body text-center">
    <div class="h1 mb-3">
        <i class="bi bi-search"></i>
    </div>
    <h3 class="card-title text-center mb-3">Statistics</h3>
    <p class="card-text text-center">
        Statistics
    </p>
    <a class="btn btn-primary" asp-area="" asp-page="/Vacancies" asp-route-language="">> Vacancies </a>
</div>
