@*@page
@model Aggregation.WebPortal.Pages.Shared.Components._PopupsModel
@{
}*@

<!-- underConstruction - Modal -->
<div class="modal fade" id="underConstructionModal" tabindex="-1" aria-labelledby="underConstructionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-popout-bg">
            <partial name="Components/Popups/UnderConstruction" />
        </div>
    </div>
</div>
