<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="emailRecipient" value="homayoon.valian@inmarsatgov.com" />
		<add key="smtpServer" value="hybrid.inmarsatgov.com" />
		<add key="smtpPort" value="25" />
		<add key="disabledFileName" value="Disabled.IG" />
		<add key="executablePath" value="C:\Program Files\InmarsatGov_apps\ig-enms-dataaggregation\App\" />
		<add key="servicePath" value="C:\Program Files\InmarsatGov_apps\ig-enms-dataaggregation\Service\" />
		<add key="interval_TimerDelay" value="15000" />
		<add key="skipJobProcessing" value ="1"/>
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="igenmsEntities"
			connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient; 
				provider connection string='data source=igenmsdevdb01;initial catalog=Aggregation;user id=Aggregation;password=@Password#202211;MultipleActiveResultSets=True;App=EntityFramework'"
			providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!--connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient; 
				provider connection string='data source=igmsc-db01;initial catalog=Aggregation;user id=Aggregation;password=Aggmsc12345!;MultipleActiveResultSets=True;App=EntityFramework'"-->
</configuration>
