<div class="modal-header">
    <h2 class="modal-title">
        <span style="color: darkgoldenrod">
            Under Construction
        </span>
    </h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" style="background-image: url('./images/under_construction.jpg'); background-size: cover; background-position: center center; background-repeat : no-repeat; ">
    <div class="col-5 rounded mx-auto d-block">
        <img src="~/images/under_construction.jpg" class="img-fluid" alt="" />
    </div>
    <p class="small-font">
    </p>
</div>
<div class="modal-footer">
    <span style="color: darkgoldenrod">
     </span>
</div>