@page
@model Aggregation.WebPortal.Pages.UnauthorizedModel
@{
    ViewData["Title"] = "Error - Unauthorize Access";
}

<h1 class="text-danger">Error - Unauthorized Access</h1>
<h2 class="text-danger">Your account does not have access to this page.</h2>
