<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Config">
			<section name="AppSettings" type="Aggregation.Deployment.ConfigSection, Aggregation.Deployment" />
			<section name="ConfigNames" type="System.Configuration.DictionarySectionHandler"/>
			<section name="DBServers" type="System.Configuration.DictionarySectionHandler"/>
			<section name="InstanceNames" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	
	<Config>
		<AppSettings>
			<LogToConsole>True</LogToConsole>
			<DestinationDirectory>C:\Program Files\InmarsatGov_apps\ig-enms-dataaggregation</DestinationDirectory>
			<SourceDirectory>\\tsclient\C\Deployment\ig-enms-dataaggregation</SourceDirectory>
			<ProcessName>AggregationApp</ProcessName>
			<ServiceName>AggregationService</ServiceName>
			<SiteName>Aggregation</SiteName>
			<TimeoutMilliseconds>60000</TimeoutMilliseconds>
		</AppSettings>
		<ConfigNames>
			<add key="APP" value="AggregationApp.exe.config"/>
			<add key="SERVICE" value="AggregationService.exe.config"/>
			<add key="PORTAL" value="appsettings.production.json"/>
		</ConfigNames>
		<DBServers>
			<add key="MSC" value="igmsc-db01,Aggregation,Aggregation,Aggmsc12345!"/>
			<add key="ENMS" value=" igenms-agdb01,Aggregation,Aggregation,Aggmsc12345!"/>
			<add key="DEV" value="Igenmsdevdb01,Aggregation,Aggregation,@Password#202211"/>
			<add key="LOCAL" value="Igenmsdevdb01,Aggregation_datamodel,Aggregation,@Password#202211"/>
		</DBServers>
		<InstanceNames>
			<add key="IGMSC-APP01" value="MSC"/>
			<add key="IGENMS-AGAPP01" value="ENMS"/>
			<add key="DEVENMSWEB" value="DEV"/>
			<add key="HVALIAN-3560" value="LOCAL"/>
		</InstanceNames>
	</Config>
</configuration>
